<%= form_for(@realimage) do |f| %>
  <% if @realimage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@realimage.errors.count, "error") %> prohibited this realimage from being saved:</h2>

      <ul>
      <% @realimage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
